@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --font-cormorant: 'Cormorant Garamond', serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  padding-top: 80px;
  font-family: var(--font-inter);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant);
}
